

.goods-card {
  border: 1px solid #ddd;
  padding-bottom: 18px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in;
  cursor: pointer;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
}

.hot-label {
  position: absolute;
  z-index: 800;
  top: 0px;
  left: 0px;
  background-color: red;
  color: white;
  padding: 4px 6px;
  font-size: 12px;
}

.prices-section {
  margin-top: 8px;
}

.descript {
  padding-inline: 42px;
}

.descript h3 {
  color: rgba(34, 50, 99, 1);
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.pricetag {
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: rgba(64, 191, 255, 1);
}

.original-price {
  text-decoration: line-through;
  color: #888;
  margin-left: 8px;
}

.stars {
  color: gold;
  font-size: 16px;
  margin: 4px 0;
}

.discount {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: rgba(251, 113, 129, 1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  padding: 82px;
  background-color: rgba(255, 255, 255, 1);
  transition: opacity 0.5s ease;
  top: 15px;
  left: 10px;
  right: 10px;
  height: calc(60% - 20px);
}

.goods-card:hover .overlay {
  opacity: 1;
}

.actions {
  display: flex;
  gap: 11px;
}

.favorite,
.addcart {
  padding: 17px;
  border: 2px rgba(51, 160, 255, 0.25) solid;
  border-radius: 50%;
}

.heart {
  height: 24px;
  width: 24px;
  font-size: 24px;
  color: #33a0ff;
}

/* message container */

.messagecont {
  padding: 20px;
  border-radius: 10px;
  font-size: clamp(10px, 2vw, 16px);
}
